<?xml version="1.0" encoding="UTF-8"?>
<!-- This file is used to put beans related to spring application. Not servlet  and spring MVC. -->
<beans
		xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="welcomeService" class="com.service.impl.WelcomeServiceImpl">

	</bean>

</beans>